#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  width: 40%;
  height: 35%;
}

.albums {
  background-color: white;
  color: black;
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
  background: black;
}

nav li {
  display: inline;
  padding: 10px;
}

nav a {
  color: purple;
}

nav a:hover {
  background-color: white;
}

.presentation {
  background-color: white;
  color: black;
}

.description {
  background-color: white;
  color: black;
}